resources:

{% for clusterInstance in properties["instances"] %}
- type: compute.v1.instances
  name: {{ clusterInstance["name"] }}
  properties:
    zone: {{ clusterInstance["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ clusterInstance["zone"] }}/machineTypes/{{ clusterInstance["machineType"] }}
    {% if clusterInstance.tags is defined %}
    tags:
      items: {{ clusterInstance.tags }}
    {% endif %}
    metadata:
      items:
      {% if clusterInstance.startupScript is defined %}
      - key: startup-script
        value: |
          {{ clusterInstance["startupScript"]|indent(10) }}
      {% endif %}
      {% if clusterInstance.containerManifest is defined %}
      - key: gce-container-declaration
        value: |
          {{ clusterInstance["containerManifest"]|indent(12) }}
      {% endif %}
      {% if clusterInstance.cloudConfig is defined %}}
      - key: user-data
        value: |
          {{ clusterInstance["cloudConfig"]|indent(12) }}
      {% endif %}}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      sizeGB: {{ clusterInstance["diskSizeGB"] }}
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/{{ clusterInstance["os-image"] }}
    {% if clusterInstance.secondaryDisk is defined %}
    {% for secondaryDisk in clusterInstance["secondaryDisk"] %}
    - deviceName: {{ secondaryDisk["name"] }}
      type: PERSISTENT
      autoDelete: true
      initializeParams:
        diskType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ clusterInstance["zone"] }}/diskTypes/{{ secondaryDisk["type"] }}
        diskSizeGB: {{ secondaryDisk["sizeGB"] }}
    {% endfor %}
    {% endif %}
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
{% endfor %}

- type: compute.v1.firewall
  name: portainer-firewall
  properties: 
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    sourceRanges: ["0.0.0.0/0"]
    targetTags: ["portainer"]
    allowed:
    - IPProtocol: tcp
      ports: ["8000", "9000"]
- type: compute.v1.firewall
  name: nextcloud-http
  properties: 
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
    sourceRanges: ["0.0.0.0/0"]
    targetTags: ["nextcloud"]
    allowed:
    - IPProtocol: tcp
      ports: ["80", "443"]