resources:

{% for clusterInstance in properties["instances"] %}
- type: compute.v1.instances
  name: {{ clusterInstance["name"] }}
  properties:
    zone: {{ clusterInstance["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ clusterInstance["zone"] }}/machineTypes/{{ clusterInstance["machineType"] }}
    {% if clusterInstance.tags is defined %}
    tags:
      items: clusterInstance.tags
    {% endif %}
    metadata:
      items:
      - key: startup-script
        value |
          {{ clusterInstance["startup-script"]|indent(10) }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      sizeGB: {{ clusterInstance["diskSizeGB"] }}
      initializeParams:
        sourceImage: https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/family/debian-9
    networkInterfaces:
    - network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/default
      accessConfigs:
      - name: External NAT
        type: ONE_TO_ONE_NAT
{% endfor %}

- type: compute.v1.firewall
  name: portainer-firewall
  properties: 
    network: $(ref.portainer-firewall.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    targetTags: ["portainer"]
    allowed:
    - IPProtocol: tcp
      ports: ["8000", "9000"]